<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> updateing server </title>
</head>
<body>
    <h1>we are updateing our servers </h1>
    <h3>please whit </h3>
</body>
</html>