<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
    <body>
<div style="text-align: center;  " style="color: salmon;" >
    {{> header}}
 
 
    <h2>{{tit titel}}</h2>
   
</div>
{{!-- <footer style="text-align: center;">
        @ bitcoin price:12300
    </footer> --}}
    {{> footer}}
    </body>
</html>